<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>css yipee</title>
/* CSS */ 
body {
     font-family: Comic Sans MS;
     font-style: normal; 
} 
p {
     font-family: Courier;
     font-style: normal; 
}
</head>

<body>
</body>
</html>
